  
  <h1>Line Checker</h1>
  
  <%= flash_message %>

  <form action="/process" method="post">
    <fieldset>
      <legend>Enter one or more phone numbers</legend>
      <p>
      <textarea cols="50" rows="5" name="phone_numbers"></textarea></p>
      <p>
      <input type="submit" value="Process" /></p>
    </fieldset>
  </form>
